<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="icon" type="image/png" href="https://i.imgur.com/CiALsHe.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #e8f5e9;
        }

        .btn-primary {
            background-color: #4caf50;
            border: none;
        }

        .btn-primary:hover {
            background-color: #45a049;
        }

        .btn-danger:hover {
            background-color: #d32f2f;
        }

        .table thead th {
            cursor: pointer;
        }

        .star-rating input {
            display: none;
        }

        .star-rating label {
            font-size: 2rem;
            color: #fff;
            cursor: pointer;
        }

        .star-rating input:checked~label {
            color: black;
        }

        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        }

        .rating input {
            display: none;
        }

        .rating label {
            font-size: 3rem;
            color: black;
            cursor: pointer;
            
        }

        .rating input:checked~label,
        .rating label:hover,
        .rating label:hover~label {
            color: #ffd700;
            
        }

        .toggleContainer {
            --width: 50px;
            --radius: 30px;
            position: relative;
            width: var(--width);
            height: var(--radius);
            background: lightgray;
            border-radius: var(--radius);
        }

        .toggle {
            position: absolute;
            width: 0;
            height: 0;
            display: none;
        }

        .toggle+.switch {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: var(--radius);
            height: var(--radius);
            cursor: pointer;
            background: red;
            border-radius: var(--radius);
            transition: width 0.1s;
        }

        .toggle+.switch:before {
            content: "";
            position: absolute;
            width: var(--radius);
            height: var(--radius);
            top: 50%;
            transform: translateY(-50%);
            background: #ffffff;
            border-radius: 50%;
            margin: 0px 2px;
            left: calc(100% - var(--radius));
            cursor: pointer;
        }

        .toggle:checked+.switch {
            width: var(--width);
            background: rgb(0, 196, 0);
        }
        .table td {
    max-width: 200px; 
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
}


.table td:hover::after {
    content: attr(data-full-text); 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    max-width: 300px;
    white-space: pre-wrap; 
    z-index: 1000;
    left: 0; 
    top: 100%;
    transform: translateY(5px);
    display: block;
}


.table td:hover::after {
    display: none;
}

.table td.truncate:hover::after {
    display: block;
}
        
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Lista de Productos</h2>


            <div class="container mt-5">
                <div class="d-flex justify-content-end position-relative">
                    <!-- Botón de usuario con imagen en lugar del ícono -->
                    <button class="border-0 p-0" id="userBtn" style="background: none; cursor: pointer;">
                        {% if user.foto_perfil %}
                            <img src="{{ user.foto_perfil.url }}" alt="Foto de perfil" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
                        {% else %}
                            <i class="fa-regular fa-circle-user" style="font-size: 2rem;"></i>
                        {% endif %}
                    </button>
            
                    <!-- Menú que se muestra/oculta -->
                    <ul class="list-group position-absolute end-0 mt-2 d-none" id="userMenu" style="min-width: 120px;">
                        <li class="list-group-item p-1 text-center">
                            <a class="text-success text-decoration-none small" href="{% url 'perfil_usuario' %}">Perfil</a>
                        </li>
                        <li class="list-group-item p-1 text-center">
                            <a class="text-danger text-decoration-none small" href="{% url 'salir' %}">Salir</a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="list-group-item p-1 text-center">
                            <a class="text-primary text-decoration-none small" href="{% url 'lista_usuarios' %}">Gestionar Usuarios</a>
                        </li>
                        {% endif %}
                                               
                        
                    </ul>
                </div>
            </div>
            
            
        </div>
        
        <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">
            <i class="fas fa-plus"></i> Agregar Producto
        </button>
        <div class="d-flex justify-content-between text-center mb-3">
            <span class="badge bg-success p-2"><i class="fas fa-check-circle"></i> Listos: {{ total_listos }}</span>
            <span class="badge bg-danger p-2"><i class="fas fa-times-circle"></i> No listos: {{ total_no_listos }}</span>
            <span class="badge bg-warning text-dark p-2"><i class="fas fa-star"></i>5 :  {{ importancia_contadores.5 }}</span>
            <span class="badge bg-warning text-dark p-2"><i class="fas fa-star"></i> 4 : {{ importancia_contadores.4 }}</span>
            <span class="badge bg-warning text-dark p-2"><i class="fas fa-star"></i> 3 : {{ importancia_contadores.3 }}</span>
            <span class="badge bg-secondary p-2"><i class="fas fa-star"></i> 2 : {{ importancia_contadores.2 }}</span>
            <span class="badge bg-dark p-2"><i class="fas fa-star"></i> 1 : {{ importancia_contadores.1 }}</span>
        </div>

        <form method="GET" action="{% url 'lista_productos' %}" class="d-flex mb-3">
            {% csrf_token %}
            <div class="row w-100 align-items-center">
                <div class="col-lg-2 col-md-3 col-4">
                    <input type="text" name="q" class="form-control"
                        placeholder="Buscar por SKU, descripción o usuario">
                </div>
                <div class="col-lg-8 col-md-6 col-4 text-center">
                </div>
                <div class="col-lg-1 col-md-3 col-4">
                    <button class="btn btn-secondary w-100" type="button"
                        onclick="location.href='{% url 'lista_productos' %}'">
                        <i class="fas fa-refresh"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="modal fade" id="agregarProductoModal" tabindex="-1" aria-labelledby="agregarProductoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarProductoModalLabel">Agregar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                    <div class="modal-body">
                        <form id="formAgregarProducto" method="POST" action="{% url 'agregar_producto' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="sku" class="form-label">SKU</label>
                                <input type="text" class="form-control" id="sku" name="sku" required>
                            </div>
                            <div class="mb-3">
                                <label for="descripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="importancia" class="form-label">Nivel de Importancia</label>
                                <div class="rating">
                                    <input type="radio" id="estrella5" name="importancia" value="5">
                                    <label for="estrella5">&#9733;</label>
                                    <input type="radio" id="estrella4" name="importancia" value="4">
                                    <label for="estrella4">&#9733;</label>
                                    <input type="radio" id="estrella3" name="importancia" value="3">
                                    <label for="estrella3">&#9733;</label>
                                    <input type="radio" id="estrella2" name="importancia" value="2">
                                    <label for="estrella2">&#9733;</label>
                                    <input type="radio" id="estrella1" name="importancia" value="1">
                                    <label for="estrella1">&#9733;</label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="editarProductoModal" tabindex="-1" aria-labelledby="editarProductoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarProductoModalLabel">Editar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="formEditarProducto">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="editarId">
        
                            <div class="mb-3">
                                <label for="editarSku" class="form-label">SKU</label>
                                <input type="text" class="form-control" id="editarSku" name="sku" required>
                            </div>
        
                            <div class="mb-3">
                                <label for="editarDescripcion" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="editarDescripcion" name="descripcion" required>
                            </div>
        
                            <div class="mb-3">
                                <label for="editarPrecioCompra" class="form-label">Precio de Compra</label>
                                <input type="number" step="0.01" class="form-control" id="editarPrecioCompra" name="precio_compra" required>
                            </div>
        
                            <div class="mb-3">
                                <label for="editarImportancia" class="form-label">Nivel de Importancia</label>
                                <div class="rating">
                                    {% for i in "54321" %}
                                    <input type="radio" id="editarEstrella{{ i }}" name="importancia" value="{{ i }}" required>
                                    <label for="editarEstrella{{ i }}">&#9733;</label>
                                    {% endfor %}
                                </div>
                            </div>
        
                            <div class="mb-3">
                                <label for="editarProveedor" class="form-label">Proveedor</label>
                                <input type="text" class="form-control" id="editarProveedor" name="proveedor" required>
                            </div>
        
                            <div class="mb-3">
                                <label for="editarNota" class="form-label">Nota</label>
                                <textarea class="form-control" id="editarNota" name="nota" rows="3" required></textarea>
                            </div>
        
                            <button type="submit" class="btn btn-primary w-100">Guardar Cambios</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th onclick="ordenarPor('id')">ID <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('sku')">SKU <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('descripcion')">Descripción <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('user')">Usuario <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('fecha')">Fecha <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('hora')">Hora  <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('precio_compra')">Precio  <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('importancia')">Importancia <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('proveedor')">Proveedor <i class="fas fa-sort"></i></th>
                        <th onclick="ordenarPor('nota')">Nota <i class="fas fa-sort"></i></th>
                        {% if user.is_superuser %}
                        <th onclick="ordenarPor('listo')">
                            <span id="contador-listos" class="badge bg-primary ms-2"></span>
                            Listo <i class="fas fa-sort"></i>
                        </th>
                        {% endif %}
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.sku }}</td>
                        <td class="truncate " data-full-text="{{ producto.descripcion }}">{{ producto.descripcion }}</td>
                        <td>{{ producto.user.username }}</td>
                        <td>{{ producto.fecha|date:"d/m/Y" }}</td>
                        <td>{{ producto.hora|time:"h:i A" }}</td>
                        <td>{{ producto.precio_compra }}</td>
                        <td>
                            {% for i in niveles_importancia %}
                            {% if producto.importancia >= i %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="truncate data-bs-toggle="tooltip" data-bs-placement="top"" data-full-text="{{ producto.proveedor }}">{{ producto.proveedor }}</td>
                        <td class="truncate data-bs-toggle="tooltip" data-bs-placement="top"" data-full-text="{{ producto.nota }}">{{ producto.nota }}</td>
                        
                        {% if user.is_superuser %}
                        <td>
                            <div class="toggleContainer">
                                <input type="checkbox" id="switch-{{ producto.id }}" class="toggle" {% if producto.listo %}checked{% endif %} onchange="toggleListo({{ producto.id }})">
                                <label for="switch-{{ producto.id }}" class="switch"></label>
                            </div>
                        </td>
                        {% endif %}
                        <td>
                            <a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal"
                                data-bs-target="#editarProductoModal" data-id="{{ producto.id }}"
                                data-sku="{{ producto.sku }}" data-descripcion="{{ producto.descripcion }}"
                                data-precio="{{ producto.precio_compra }}" data-importancia="{{ producto.importancia }}"
                                data-proveedor="{{ producto.proveedor }}" data-nota="{{ producto.nota }}">
                                <i class="fa fa-edit"></i>
                            </a>
        
                            {% if user.is_superuser %}
                            <button class="btn btn-danger btn-sm " onclick="eliminarProducto('{{ producto.id }}')" >
                                <i class="fas fa-trash"></i>
                            </button>
                        {% endif %}
                        
                        </td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="12" class="text-center">No se encontraron productos.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
        <div class="pagination">
            <nav aria-label="Paginación">
                <ul class="pagination justify-content-center">
                    {% if productos.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.ordenar_por %}&ordenar_por={{ request.GET.ordenar_por }}{% endif %}" aria-label="Primera">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.ordenar_por %}&ordenar_por={{ request.GET.ordenar_por }}{% endif %}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in productos.paginator.page_range %}
                        <li class="page-item {% if productos.number == num %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.ordenar_por %}&ordenar_por={{ request.GET.ordenar_por }}{% endif %}">
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if productos.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.ordenar_por %}&ordenar_por={{ request.GET.ordenar_por }}{% endif %}" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ productos.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.ordenar_por %}&ordenar_por={{ request.GET.ordenar_por }}{% endif %}" aria-label="Última">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function ordenarPor(campo) {
            const urlParams = new URLSearchParams(window.location.search);
            const ordenActual = urlParams.get('orden') === 'asc' ? 'desc' : 'asc';
            urlParams.set('orden', ordenActual);
            urlParams.set('ordenar_por', campo);
            window.location.search = urlParams.toString();
        }

        function seleccionarEstrella(valor) {
            document.getElementById('estrella' + valor).checked = true;
        }

    </script>
    <script>
        const editarProductoModal = document.getElementById('editarProductoModal');
        editarProductoModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget; 
            const id = button.getAttribute('data-id');
            const sku = button.getAttribute('data-sku');
            const descripcion = button.getAttribute('data-descripcion');
            const precio = button.getAttribute('data-precio');
            const importancia = button.getAttribute('data-importancia');

          
            const modalForm = editarProductoModal.querySelector('form');
            modalForm.action = `/producto/actualizar/${id}/`; 
            document.getElementById('editarId').value = id;
            document.getElementById('editarSku').value = sku;
            document.getElementById('editarDescripcion').value = descripcion;
            document.getElementById('editarPrecioCompra').value = precio;

    
            if (importancia) {
                const importanciaInput = document.getElementById(`editarEstrella${importancia}`);
                if (importanciaInput) importanciaInput.checked = true;
            }
        });
    </script>
    
    <script>
        function eliminarProducto(productoId) {
            if (!confirm("¿Estás seguro de que deseas eliminar este producto?")) {
                return;
            }

            fetch(`/producto/eliminar/${productoId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}', 
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                        location.reload();
                    } else {
                        alert(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error al eliminar el producto:', error);
                    alert('Ocurrió un error al intentar eliminar el producto.');
                });
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const messages = document.querySelector('.alert');
            if (messages) {
                const modal = new bootstrap.Modal(document.getElementById('agregarProductoModal'));
                modal.show();
            }
        });
    </script>
    <script>
        document.getElementById("userBtn").addEventListener("click", function () {
            let menu = document.getElementById("userMenu");
            menu.classList.toggle("d-none"); // Alterna la visibilidad
        });
    
        // Ocultar el menú si se hace clic fuera de él
        document.addEventListener("click", function (event) {
            let btn = document.getElementById("userBtn");
            let menu = document.getElementById("userMenu");
    
            if (!btn.contains(event.target) && !menu.contains(event.target)) {
                menu.classList.add("d-none");
            }
        });
    </script>
    <script>
        function toggleListo(productoId) {
            const checkbox = document.getElementById(`switch-${productoId}`);
            const estadoListo = checkbox.checked;

            fetch(`/producto/toggle_listo/${productoId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCsrfToken(), 
                },
                body: JSON.stringify({ listo: estadoListo }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log(`El producto ${productoId} fue actualizado a listo: ${data.listo}`);
                    } else {
                        alert('Hubo un error al actualizar el estado.');
                        checkbox.checked = !estadoListo;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    checkbox.checked = !estadoListo; 
                });
        }

     
        function getCsrfToken() {
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.startsWith('csrftoken='))
                ?.split('=')[1];
            return cookieValue;
        }

    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#sku").on("input", function() {
                var sku = $(this).val().trim();
    
                if (sku.length > 2) { // Para evitar consultas con muy pocos caracteres
                    $.ajax({
                        url: "{% url 'obtener_descripcion_sku' %}",
                        type: "POST",
                        data: {
                            "sku": sku,
                            "csrfmiddlewaretoken": "{{ csrf_token }}"
                        },
                        success: function(response) {
                            if (response.descripcion) {
                                $("#descripcion").val(response.descripcion); // Llena la descripción
                            } else {
                                $("#descripcion").val("No encontrado");
                            }
                        },
                        error: function() {
                            console.error("Error al obtener la descripción.");
                        }
                    });
                }
            });
        });
    </script>
        <script>
            $(document).ready(function() {
                $("#editarSku").on("input", function() {
                    var sku = $(this).val().trim();
        
                    if (sku.length > 2) { // Evita consultas con pocos caracteres
                        $.ajax({
                            url: "{% url 'obtener_descripcion_sku' %}",
                            type: "POST",
                            data: {
                                "sku": sku,
                                "csrfmiddlewaretoken": "{{ csrf_token }}"
                            },
                            success: function(response) {
                                if (response.descripcion) {
                                    $("#editarDescripcion").val(response.descripcion); // Llena la descripción
                                } else {
                                    $("#editarDescripcion").val("No encontrado");
                                }
                            },
                            error: function() {
                                console.error("Error al obtener la descripción.");
                            }
                        });
                    }
                });
        
                // Rellenar datos del modal de edición cuando se abre
                $('#editarProductoModal').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget); // Botón que activó el modal
                    var id = button.data('id');
                    var sku = button.data('sku');
                    var descripcion = button.data('descripcion');
                    var precio = button.data('precio');
                    var importancia = button.data('importancia');
                    var proveedor = button.data('proveedor');
                    var nota = button.data('nota');
        
                    $("#editarId").val(id);
                    $("#editarSku").val(sku);
                    $("#editarDescripcion").val(descripcion);
                    $("#editarPrecioCompra").val(precio);
                    $("#editarProveedor").val(proveedor);
                    $("#editarNota").val(nota);
        
                    if (importancia) {
                        $("#editarEstrella" + importancia).prop("checked", true);
                    }
                });
            });
        </script>
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>