body {
    background-color: #e8f5e9; /* Fondo verde claro */
}
.card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Ancho máximo para pantallas más pequeñas */
    margin: 0 auto; /* Centrado horizontal */
}
.card img {
    width: 300px; /* Imagen más pequeña en pantallas pequeñas */
    margin-bottom: 20px;
    
}
.btn-primary {
    background-color: #4caf50; /* Verde principal */
    border: none;
}
.btn-primary:hover {
    background-color: #45a049; /* Verde más oscuro al hacer hover */
}
.form-control:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}


.btn-primary {
    background-color: #4caf50;
    border: none;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-danger:hover {
    background-color: #d32f2f;
}

.table thead th {
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating input:checked~label {
    color: #ffc107;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 3rem;
    color: #ffd700;
    cursor: pointer;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #ffd700;
}

body {
    background-color: #e8f5e9; /* Fondo verde claro */
}
.card {
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; 
    margin: 0 auto; 
}
.card img {
    width: 300px; 
    margin-bottom: 20px;
}
.btn-success {
    background-color: #4caf50; 
    border: none;
}
.btn-success:hover {
    background-color: #45a049; 
}
.form-control:focus {
    border-color: #4caf50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}